<!-- myapp/templates/myapp/submit_form.html -->
<style>
    body {
        background-color: #232323; /* Add a background color */
    }

    .custom-body {
        font-size: 16px; /* Adjust the font size */
        font-weight: 100;
        color: white;
    }

    .custom-heading {
        font-size: 30px; /* Adjust the font size */
        font-weight: bold;
        color: white;
        margin-bottom: 20px; /* Add margin at the bottom for better spacing */
    }

    .logo-container {
        position: absolute;
        top: 20px;
        left: 80px;
    }

    .brighten-logo {
        filter: brightness(1);
    }

    /* Adjust the input box width */
    input[type="text"],
    input[type="email"],
    input[type="password"] {
        width: 100%;
        padding: 5px;
        margin: 5px 0 1px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }

    /* Adjust the button style */
    button {
        background-color: #343a40;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px; /* Adjust the font size */
    }

    button:hover {
        background-color: #555;
    }
</style>

<!-- myapp/templates/myapp/submit_form.html -->
{% extends 'base.html' %}

{% block content %}
    {% load static %}

    <link rel="stylesheet" href="{% static 'myapp/styles.css' %}">

    <div class="container mt-5">
        <div class="row content-center">
            <div class="col-md-6">
                <div class="logo-container brighten-logo">
                    <img src="{% static 'myapp/logo3.png' %}" alt="Logo" width="120">
                </div>
                <h1 class="text-center custom-heading">{{"Add Client Credentials"|title}}</h1>
                <form id="myForm" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    {% for field in form %}
                        <div class="mb-3">
                            <label for="{{ field.id_for_label }}" class="form-label" style="color: white; font-weight: bold;">{{ field.label|title }}</label>
                            {{ field }}
                        </div>
                    {% endfor %}
                    <div class="text-center mt-4">
                        <button type="submit" class="btn btn-dark ml-auto">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
