<!-- myapp/templates/myapp/update_credential.html -->
{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-center">Update Credential</h1>
        <!-- Add a form for updating credentials -->
        <form method="post" action="{% url 'update_credential' %}">
            {% csrf_token %}
            <!-- Include hidden input for credential ID or any other identifier -->
            <input type="hidden" name="credential_id" value="{{ credential.id }}">
            
            <!-- Include input fields for updating credential data -->
            <div class="form-group">
                <label for="update-tenant">Tenant:</label>
                <input type="text" class="form-control" id="update-tenant" name="update_tenant" value="{{ credential.tenant }}">
            </div>
            <!-- Add other fields for updating -->

            <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>
    </div>
{% endblock %}
